<div class="my-content">
  <mat-toolbar>
    <mat-form-field class="search-filter">
      <input matInput placeholder="Filter Characters...">
    </mat-form-field>
  </mat-toolbar>

  <mat-list-item>
    <button mat-stroked-button (click)="toggleDetails()">
      {{ hideDetails ? 'Show' : 'Hide '}} Details
    </button>
  </mat-list-item>

  <mat-list>
    <mat-list-item *ngFor="let character of charArray | character : characterFilter">
      <img mat-list-avatar src="{{ character.avatar }}" [alt]="character.name | lowercase"/>
      <h3 mat-line>{{ character.name }}</h3>
      <div mat-line *ngIf="!hideDetails">
        <span>Gender: {{ character.gender }}, </span>
        <span>Species: {{ character.species }}</span>
        <swc-force-component [forceStrength]="character.force"></swc-force-component>
      </div>
    </mat-list-item>
  </mat-list>
</div>
